@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

h1, h3 {
  font-family: 'Asap', sans-serif;
  font-weight: 600;
  color: #023E8A;
}

h3 {
  font-size: 58px;
  margin: 0;
  padding: 3vh 3vw 3vh 2vw;
}

h1 {
  font-size: 77px;
  margin: 0;
  padding: 2vh 0;
}

html {
  background-color: #F4F1DE;
  color: #023E8A;
  overflow-x: hidden;
  overflow-y: hidden;
}

.grid {
  display: grid;
  grid-template-columns: 75vw 25vw;
  grid-template-rows: 15vh 80vh 5vh;
  grid-template-areas: "head port"
                      "copy port"
                      "proj port";
}


.header {
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-area: head;
}

.portrait {
  background-color: #023E8A;
  background-image: url('./portrait.JPG');
  background-position: center center;
  background-size: auto 150%;
  background-repeat: no-repeat;
  grid-area: port;
}

.links {
  grid-area: links;
}

.copy{
  grid-area: copy;
  margin-top: 4vh;
  padding-right: 3vw;
}

.proj {
  grid-area: proj;
}

.backside {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #1E0C68;
  padding: 3vh;
  display: grid;
  grid-template-columns: max-content 1fr;
  margin-left: 4vw;
}

.backside h4 {
  font-size: 40px;
  font-family: 'Hind Madurai', sans-serif;
  margin: 0;
  padding:0;
  padding-right: 2vw;
}

.work {
  float: left;

}

.now {
  float: left;
}